@media (max-width: 1200px) {
    body {
        background-color: blueviolet;
    }
    .video-de-fundo {
        display: none;
    }
    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .container .img-turma-mario {
        max-width: 60%;
        margin-top: 25px;
    }
    .container .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .container .sinopse {
        color: white;
        text-align: center;
    }
    .container .imagem-titulo-filme {
        max-width: 70%;
    }
    .cabecalho .menu a {
        font-size: 20px;
    }
    iframe {
        width: 320px;
        height: 180px;
    }
}